<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <img src="images/college logo.png" alt="">
    <h1 class="display-3">Placement Assistant Software</h1>
    <p class="lead">Register yourself or Login if already registered (For Students)</p>
    <hr>
    <a style="margin-right: 20px;" class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a style="margin-right: 20px;" class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
