<%- include('partials/header') %>

<h1>Your Data has been stored successfully</h1>
<br>
<h3><a style="text-decoration: none; color: #060606" href="/mainPage">Press Here to go to Home Page</a></h3>

<%- include('partials/footer') %>